.lc-row {
	display: inline-flex;
	position: relative;
}
.lc-row .page-info {
	position: absolute;
    bottom: 5px;
    left: 11px;
    font-weight: bold;
}
#navigation .penci-megamenu .penci-content-megamenu .lc-row.row-active {
    display: inline-flex;
}
.lc-post-pager {
    width: 1% !important;
    float: left;
    background-color: #888888;
    border-radius: 2px;
    opacity: 0.5;
    cursor: pointer;
    margin: 0 0 10px 0;
    display: flex;
}
.lc-post-pager i{
	color: #313131;
    font-weight: bold;
    margin: auto auto;
}
.lc-spin-container {
	margin-top: 5%;
    width: 100%;
}
.lc-spin-container .lc-spinner {
    border: 5px solid #ffffff;
    border-radius: 50%;
    border-top: 5px solid #888888;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}
.ls-footer .widget-title span, .ls-footer .side-title-post a{
    color: #ccc !important;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.inner-post-entry.entry-content p{
	margin-top: 0;
    margin-bottom: 0rem;
}
/* footer gallery custom */
.penci-sidebar-content .widget .jr-insta-thumb ul.thumbnails li img,
	.footer-widget-wrapper .widget .jr-insta-thumb ul.thumbnails li img {
	padding: 5px;
	width: 120px !important;
	height: 120px !important;
}